@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');





body {
    background-color: lightgrey;
}

.img_logo {
    border-radius : 20px;
    filter: drop-shadow(15px 10px 4px lightblue);
    width : 120px;
    height : 70px;
}

main {
    padding : 10.5% 3%;

    

}
nav {
    opacity : 0.8;
}
.largeur_card {
    width : 100%;
    opacity : 0.9;
    border-radius: 10%;
}
/*
#baniere{
    background-image: url("../images/depositphotos_28085849-stock-illustration-children-playing-under-tree-house.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

*/

section {
    padding-top : 2%;
    
   /* background-size : cover;
    height : 700px;
    */
    vertical-align : center;
}

.img_fond {
    margin-top : 100px;
    padding-top: 60px;

    background-image: url("../images/jardin_tour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height :660px;
   /* border-radius : 40%;*/
    
    background-attachment: fixed;
    

}

.arrondi {
    border-radius : 10px;
    padding-left : 10px; 
    margin : 10px;
    width : 150px;
    text-align : center;
  
   
}

.dropbutton {
    border-radius : 10px;
    padding-top : 3px;
    margin : 2% 0;
    width : 170px;
    text-align : center;
    color : white;
    background-color: rgb(14, 126, 163);
    z-index : 200;
    
}

.breadcump_text {
    color : white;
}

.contenu {
    position: absolute;
    z-index : 2;
    bottom: -12px;
    left : 3%;    
}

.img_card {
    height : 100%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
 
}

footer {
    height : 100px;
    background-color: rgb(56, 56, 61);
}

.transition {
    height : 30px;
    width : 100%;
    background-color: rgb(10, 110, 204);
   
    position : relative;
    z-index : 1;
}

.text_card_justify {
    text-justify:auto;
}

p {
    text-align: justify;
    color : grey;
}

@media(max-width : 992px){
    .img_logo {
        border-radius : 10px;
        filter: drop-shadow(20px 10px 4px lightgrey);
        width : 70px;
        height : 30px;
        opacity: 1;
    }
    .transition {
        height : 30px;
        background-color: lightgray;
        opacity :0;
    }

}
h1 {
    font-family: 'Dancing Script', cursive;
    color: antiquewhite;
    font-size: 5em;
    text-shadow: 1px 3px 2px #191b15;
    margin-top : 100px;
    padding-top : 10px;
    animation : titreh2 ease 3.5s;
    
}
h2 {
    color: grey;
    text-shadow: -3px 3px 2px lightgray;
    padding-top : 10px;
    animation : titreh2 ease 3.5s;
}
h5 {
    color : grey;
}

@media(max-width : 650px){

    h2 {
        font-size : 12px;
        vertical-align: bottom;
        padding-top : 20px;
    }
    section {
        padding-top : 5%;
       /* position : relative;*/
    }


}

@media(max-width : 768px){
    .img_card {
        height : 250px;
        width : 100%;
     
    }

}

@media(max-width : 857px){
   .largeur_card {
       width :auto;
   }

}

article {
    animation : animation_article ease 3.5s;
}




@keyframes titreh2 {
    0%{
        opacity : 0;
        transform : translateX(-150px);
    }
    100%{
        opacity : 1;
        transform : translateX(0px);
    }
}

@keyframes animation_article {
    0%{
        opacity : 0;
        transform : translateY(150px);
    }
    100%{
        opacity : 1;
        transform : translateY(0px);
    }
}