.img_logo {
    border-radius : 20px;
    filter: drop-shadow(20px 10px 4px lightgrey);
    width : 120px;
    height : 80px;
}

main {
    padding : 10.5% 3%;
}

section {
    padding-top : 2%;
}

.arrondi {
    border-radius : 10px;
    padding-left : 10px; 
    margin : 10px;
    width : 150px;
    text-align : center;
}

.dropbutton {
    border-radius : 10px;
    padding-top : 3px;
    margin : 2% 0;
    width : 170px;
    text-align : center;
    color : grey;
}
    
.contenu {
    position: absolute;
    z-index: 2;
    bottom: -12px;
    left : 3%;    
}

.img_card {
    height : 150px;
}

.transition {
    height : 30px;
    width : 100%;
    background-color: lightgrey;
    z-index: 3;
    position : relative;
   /* position : fixed;
    top : 15%;*/
}

.text_card_justify {
    text-justify:auto;
}

p {
    text-align: justify;
    color : grey;
}

@media(max-width : 992px){
    .img_logo {
        border-radius : 10px;
        filter: drop-shadow(20px 10px 4px lightgrey);
        width : 70px;
        height : 30px;
        opacity: 1;
    }
    .transition {
        height : 30px;
        background-color: lightgray;
        opacity :0;
    }

}

h5 {
    color : grey;
}

@media(max-width : 650px){

    h2 {
        font-size : 12px;
        vertical-align: bottom;
        padding-top : 20px;
    }
    section {
        padding-top : 5%;
       /* position : relative;*/
    }
}



article {
    animation : animation_article ease 3.5s;
}

h2 {
    color: grey;
    text-shadow: -3px 3px 2px lightgray;
    padding-top : 10px;
    animation : titreh2 ease 3.5s;
}


@keyframes titreh2 {
    0%{
        opacity : 0;
        transform : translateX(-150px);
    }
    100%{
        opacity : 1;
        transform : translateX(0px);
    }
}

@keyframes animation_article {
    0%{
        opacity : 0;
        transform : translateY(150px);
    }
    100%{
        opacity : 1;
        transform : translateY(0px);
    }
}