
/********** import font google **************/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');





body {
    margin :0%;
    padding :0%;
 
}

.img_card {
    height : 100%;

 
}

.imageCardContact{
    height : 300px;
}
html {
    position: relative;
    min-height: 100%;
}

footer {
    height :100%;
    background-color: rgb(56, 56, 61);
    padding : 2%;
    color : white;
    position: absolute;
    width : 100%;

    bottom : O;
    
   
}


.listeBefore::before{
 content: "\276F"; /* Insertion avant  */
 padding-right: 8px;
 color: orange; 
}
/** margin: 0 auto; centrer les div*/

.listItem {
    background-color: rgb(56, 56, 61);
    text-align: center;
    color : white;
}
.listItemSitePartenaire{
    background-color: rgb(56, 56, 61);
    text-align: left;
    color : white;
}
.listItemLabel {
    color : orange;
    background-color: rgb(56, 56, 61);
    text-align: center;
}



header {
    height :auto;
    
    opacity: 0.8;
    
}
.sections {
    padding : 20px 0;
}
.sectionsPresentation {
    padding-top: 10%;
    padding-left :2%;
    padding-right: 2%;

}
.sectionsContact {
    margin-top : 1%;
    padding-top: 15%;
    padding-left :2%;
    padding-right: 2%;
    padding-bottom: 15%;
}
.home {
    height :750px;
    background-image : url('../images/ado_chaine.jpg');
    background-size: cover;
    background-position :center;
    margin-top: 125px;
    position :relative;
    
}

.overlay{
    position: absolute;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

/**************** Thème des liens ***********/
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color : white;
  }
  

a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:focus {
    border-bottom: 1px solid;
    
  }
  
  a:hover {
    border-bottom: 1px solid;
    
    color : lightgray;
  }
  
  a:active {
    
    color: white;
  }   
/********** Mise en forme page d'accueil ***************/
/*  
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px #191b15;
    margin-top : -10px;
    padding-top : -20px;
    animation : animation_article ease 3.5s;
}
*/
.img_logo {
    border-radius : 20px;
    filter: drop-shadow(10px 5px 4px lightgrey);
    width : 120px;
    height : 70px;
}
footer .img_logo{
        padding : 1%;
        border-radius : 10px;
        filter: drop-shadow(3px 3px 3px lightgrey);
        width : 70px;
        height : 30px;
        opacity: 1;
    
}
.transition {
    height : 30px;
    width :100%;
    background-color: rgb(54, 51, 51);
   
    position : relative;
  /*  z-index : -1;*/
}
    






.arrondi {
    border-radius : 10px;
    padding-left : 10px; 
    margin : 10px;
    width : 130px;
    text-align : center;
  
   
}

.arrondiReseauxSociaux{
    border-radius : 10px;
    padding-left : 10px; 
    margin-top: 10%;
    width : 150px;
    text-align : center;
    color : orange;
    border-style: solid 1px orange;
}
footer .arrondi {
    width : 210px;
    border-radius: 30px;
}

.contactButton {
    width : 210px;
    border-radius: 30px;
}

.dropbutton {
    border-radius : 10px;
    padding-top : 3px;
    margin : 2% 0;
    width : 170px;
    text-align : center;
    color : white;
    background-color: black;
    z-index : 200;
    
}



.contenu {
    position: absolute;
   /* z-index : 2;*/
    bottom: -12px;
    left : 3%;   
}
.text_card_justify {
    text-justify:auto;
}



/**** Mise ne forme des polices, titres *******/

.text_orange {
    color : rgba(234, 170, 22, 0.874);
}


p {
    text-align: justify;
    color : grey;
}

.carouselTaille {
    width : 540px;
    height : 500px;
    border-radius: 10%;
    margin :auto;
}
.carouselTailleImage{
    width: 500px;
    height : 500px;
    border-radius: 10%;
}
.titreBienvenue h1 {
    font-family: 'Dancing Script', cursive;
    color: antiquewhite;
    margin-top: 2%;
    text-shadow: 1px 3px 2px #191b15;
    
    
    animation : titreh2 ease 3.5s;
    
    
}
.titreBienvenue h3 {
    text-align: center;
    color : antiquewhite;
    font-size: 40px;
    text-shadow: 1px 3px 2px #191b15;
    animation : titreh3 ease 3.5s;
}

.titreBienvenue p {
    padding-left : 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    text-align: center;
    color : antiquewhite;
    font-size: 18px;
    text-align: justify;
    animation : titreh3 ease 3.5s;
    text-shadow: 1px 3px 2px #191b15;
    padding-top : 4%;
}

h2 {
    color: grey;
    text-shadow: -3px 3px 2px lightgray;
    padding-top : 10px;
    animation : titreh2 ease 3.5s;
    font-family: 'Dancing Script', cursive;
    font-size : 3em;
}

h3 {
    text-align: center;
    color : antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px #191b15;
    animation : titreh3 ease 3.5s;
}

h5 {
    font-family: 'Dancing Script', cursive;
    color : grey;
    font-size : 2em;
}


/*** Gestion des images *****/
.imageLieuDeVie {
    
       
        text-align: center;
        padding-top: 2%;
        padding-bottom: 5%;
        padding-left : 15%;
        padding-right: 15%; /**padding : 30px 10% */
        margin-top : 2%;
        position: relative;
    
}

  
  

.imageLieuDeVie h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 900;
    color : antiquewhite;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageLieuDeVie img {
    border-radius: 10px;
    box-shadow: 3px 4px 3px 1px rgba(0,0,0,0.6);
    width : 300px;
    height : 200px;
  
    

}
.imageLieuDeVie img:hover{
    opacity: 0.7;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

/*********************** Responsive breakpoint ***************************/



@media(max-width : 992px){
    .img_logo {
        border-radius : 10px;
        filter: drop-shadow(10px 5px 4px lightgrey);
        width : 70px;
        height : 30px;
        opacity: 1;
    }

    .listItemSitePartenaire{
        background-color: rgb(56, 56, 61);
        text-align: center;
        color : white;
    }
    .transition {
        height : 30px;
        background-color: lightgray;
        opacity :0;
    }
    .imageLieuDeVie h4 {
    
        top: 20%;
        left: 45%;
       
    }

    .titreBienvenue h1{
        margin-top : 20px;
    }
    .titreBienvenue h3 {
        font-size : 30px;
        margin-top : 20px;
    }
    .titreBienvenue p {
        font-size : 14px;
    }
    #premierTrait{
        margin-top : 5px;
    }
 
    .home{
        margin-top: 56px;
        
        
    }

}

@media(max-width : 650px){

    h2 {
        font-size : 20px;
        vertical-align: bottom;
        padding-top : 25px;
    }
    section {
        padding-top : 5%;
       /* position : relative;*/
    }

  .titreBienvenue h1{
       font-size : 30px;
       margin-top : 20px;
   }

   .img_fond {
       height : 300px;
   }

   .titreBienvenue h3 {
       font-size : 20px;
       margin-top : 20px;
   }
   #premierTrait{
       margin-top : 5px;
   }



}

@media(max-width : 768px){
    .img_card {
        height : 250px;
        width : 100%;
     
    }
    .imageLieuDeVie img {
        border-radius: 10px;
        box-shadow: 3px 4px 3px 1px rgba(0,0,0,0.6);
        width : 200px;
        height : 100px;
      
        
    
    }

    .carouselTaille {
        width : 100%;
        height :100%;
    }
    .carouselTailleImage{
        width:100%;
        height:100%;
    }
    
    .imageLieuDeVie h4 {

        top: 20%;
        left: 49%;
     
    }
    .tireBienvenue h1 {

        margin-top : 20px;
       
      
        
    }
    footer {
        font-size : 14px;

    }
    .arrondi {
        font-size: 14px;
        width : 100px;
    }

}

@media(max-width : 480px){

    .imageLieuDeVie h4 {

        top: 30%;
        left: 50%;
     
    }

}

@media(max-width : 857px){
   .largeur_card {
       width :auto;
   }

}


/***** Animations ******/

article {
    animation : animation_article ease 3.5s;
}

animationGaucheDroite {
    animation : titreh2 ease 3.5s;
}


@keyframes titreh2 {
    0%{
        opacity : 0;
        transform : translateX(-150px);
    }
    100%{
        opacity : 1;
        transform : translateX(0px);
    }
}
@keyframes titreh3 {
    0%{
        opacity : 0;
        transform : translateX(250px);
    }
    100%{
        opacity : 1;
        transform : translateX(0px);
    }
}

@keyframes animation_article {
    0%{
        opacity : 0;
        transform : translateY(150px);
    }
    100%{
        opacity : 1;
        transform : translateY(0px);
    }
}