.img_logo {
    border-radius : 30px;
    filter: drop-shadow(20px 10px 4px lightgrey);
    width : 150px;
    height : 100px;
}



.arrondi {
    border-radius : 10px;
    padding-left : 10px; 
    margin : 10px;
    width : 150px;
    text-align : center;
}

.dropbutton {
    border-radius : 10px;
    padding-top : 5px;
    margin : 2% 0;
    width : 170px;
    text-align : center;
}
    
.contenu {
    position: absolute;
    z-index: 2;
    bottom: -12px;
    left : 10%;
    
}

.img_card {
    height : 120px;
}

.transition {
    height : 150px;
    width : 100%;
    background-color: lightgrey;
    z-index: 3;
    position : relative;
   /* position : fixed;
    top : 15%;*/
}

.text_card_justify {
    text-justify:auto;
}

p {
    text-align: justify;
}
@media(max-width : 992px){
    .img_logo {
        border-radius : 20px;
        filter: drop-shadow(20px 10px 4px lightgrey);
        width : 100px;
        height : 50px;
    }
    .transition {
        height : 100px;
        background-color: lightgrey;
    }
}